.title {
  /* font-weight: 700px; */
  padding-top: 7px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.child-title {
  /* font-weight: 600px; */
  padding-bottom: 10px;
}
.content {
  padding-left: 30px;
}

pre {
  border-radius: 10px; /* Bo góc của border */
  /* padding: 10px; Thêm khoảng cách giữa nội dung và border */
  width: 100%;
  background-color: rgb(231, 233, 235);
  color: black;
  font-style: italic;
}
.code {
  background-color: #cdd9e5;
  padding-top: 10px;
  border-radius: 10px;
  width: 65%;
  overflow-x: auto;
  /* border: 1px solid #cdd9e5; */
}
.code-title {
  padding-left: 10px;
  font-style: italic;
}

.comment,
.string {
  color: rgb(5, 68, 5);
}
.data-type,
.number {
  color: rgb(211, 46, 115);
}
.keyword {
  color: rgb(37, 113, 159);
}
@media screen and (max-width: 900px) {
  /* .code {
    width: 50%;
  } */
  pre {
    width: 50%;
  }
}
