
.container {
  height: 100vh;
}
.container-left {
  border-right: 1px solid black;
}
.index-box {
  margin-top: 2rem;
}
.search-input {
  width: 80%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.search-input input {
  height: 3.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  font-size: 1.7rem;
}
.btn-search {
  color: white;
  background-color: #dba58a;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.part-parent,
.part-child {
  display: none;
  cursor: pointer;
  border: 0px;
  border-radius: 3rem;
}

.part-parent.actived,
.part-child.actived {
  display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFF9F0;
    border-bottom: 10px solid #ccc;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left:200px; 
  }
  
  .logo img {
    height: 300px;
    width: auto;
  }
  
  .name{
    align-items: center;
  }

  .name img {
    height: 250px;
    width: auto;
    margin-right: 250px;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 70px;
    font-weight: bold;
    color: black; 
    margin-right:300px;
  }
  
  .menu ul li a:hover {
    color: red; 
  }

